 <!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Christmas Shopping List</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>	
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>

		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		
		<style>
			.w3-tangerine {
			  font-family: 'Tangerine', serif;
			}
			.w3-listButton{
				display:inline-block;
				margin-top:5px;
			}
			#warningSign,#inputText,#unorderedList{
				width:365px;
			}
			
			#listItems{
				overflow: hidden;
				transition: 0.3s;
			}
			#listItems.ng-enter{
				height:0px;
			}
			#listItems.ng-enter.ng-enter-active{
				height:60px;
			}
		</style>
	</head> 
	<body data-ng-app="christmasList" data-ng-controller="myCtrl">
	
		<header class="w3-container w3-red">
			<h1 class="w3-tangerine">Christmas Shopping List</h1>
		</header>
		<div class="w3-container w3-margin">
			<form name="memoryForm">
				<input
					id="inputText"
					name="memoryInput"
					data-ng-model="newMemory"
					class="w3-input w3-border w3-cell"
					placeholder="Things to place on list."
					required />
				<button 
					class="w3-btn w3-red"
					data-ng-click="addNewMemory()"
					data-ng-disabled="memoryForm.memoryInput.$invalid">
						Submit
				</button>
			</form>
		
			<ul class="w3-ul w3-card-4" id="unorderedList">
				<li data-ng-repeat="(numInArray, value) in memoryList track by $index" id="listItems" >
					<h6 style="display:inline-block;">{{value}}</h6>
					<button class="w3-btn w3-red w3-right w3-tiny w3-listButton" data-ng-click="deleteMemory($index)">Delete</button>
				</li>
			</ul>
		</div>
		<footer class="w3-container w3-margin">
			<h3
				id="warningSign"
				class="w3-tangerine w3-center w3-text-red w3-border w3-border-red" 
				data-ng-show="memoryForm.memoryInput.$invalid">
					<b>Text is required</b>
			</h3>
		</footer>
	
		<script>		
			var app = angular.module('christmasList', ['ngAnimate']);
			app.controller('myCtrl', function($scope) {
				$scope.newMemory = "";
				$scope.memoryList = [];
				
				$scope.addNewMemory = function(){
					$scope.memoryList.push($scope.newMemory);
				};
				$scope.deleteMemory = function(index){
					alert(index)
					$scope.memoryList.splice(index, 1);
				};		
			});
		</script>
	</body>
</html> 